/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/

#contact-sidebar {
	input {
		font-size: 0.875rem;
	}

	input, textarea {
		border: 1px solid #ebebeb;
	}

	button {
		padding: 1.2rem 2.5rem;
		letter-spacing: 0.05rem;
		white-space: nowrap;
	}

	p, a {
		font-size: 0.75rem;
		color: #bcbcbc;
	}
}