
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #151515;
}

#footer-main {
	padding-top: 5rem;
    padding-bottom: 2rem;

	.navbar-brand {
		img {
			width: 5rem;
		}
	}
}

#footer-bottom {
	padding: 2rem 0 3rem;
	border-top: 1px solid #444444;
}

#copyright {
	font-family: $body-font;
	font-size: 0.875rem;
	font-weight: 400;	
	color: #808080;
	line-height: 2;
	z-index: 1;	
}
