
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

#contact-sidebar {
	p, a {
		font-size: 0.75rem;
		color: #bcbcbc;
	}
}