
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-weight:400;
		line-height: 1.35;
		color: $white;
	}
}

.breadcrumb {
	li {
		a {
			font-weight: 500;
			font-size: 0.875rem;
			color: #969696;
			font-family: $heading-font;
			text-decoration: none;

			&.active {
				color: $theme-color;
			}
		}

		&:first-child {
			&:after {
				content: "";
				position: relative;
				display: inline-block;
				width: 1px;
				height: 1.5rem;
				vertical-align: middle;
				background-color: $theme-color;
				margin: 0 1rem;
				transform: rotate(336deg);
			}
		}
	}
}