
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	margin-bottom: 1rem;

	.icon-header {
		h4 {
			font-family: $heading-font;
			font-size: 1.875rem;
			display: block;
			color: #fff;
			line-height: 1.5;
			margin-bottom: 1rem;
			font-weight: 400;
		}

		span {
			font-size: .875rem;
    		color: #919191;
		}
	}
}