.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	.logo-item {
		position: relative;
		max-width: 16.625rem;
		display: flex;
		justify-content: center;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}
	}
} 