
/* ----------------------------------------------------------------

	team.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Team
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for team pages. Thanks!
-----------------------------------------------------------------*/

.team {
    position: relative;

    .team-image {
        img {
            width: 100%;
        }
    }

    .team-name {
        font-size: 1.875rem;
        font-family: $heading-font;
    }

    .team-info {
        font-family: $body-font;
        font-size: 0.875rem;
        color: #b9b9b9;
    }
}